<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/webuploader.css">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/umd/popper.js}"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.0/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/webuploader.js"></script>
    <style type="text/css" rel="stylesheet">
        *{
            text-decoration: none;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .login{
            width: 80%;
            height: 80vh;
            padding:40px;
            background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
            border-radius: 20px;
            box-sizing: border-box;
            box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px white;
            /*position: absolute;*/
            /*top: 0;*/
            /*bottom: 0;*/
            /*left: 0;*/
            /*right: 0;*/
            /*margin: auto;*/
        }

        .main{
            background: linear-gradient(to right top, #65dfc9, #6cdbeb);
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .list-group-item{
            background-color: transparent;
        }

    </style>
</head>
<body>
    <div class="container-fluid main" >
        <div class="login ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" onclick="openFileWindow(false)">简单上传计时</li>
                            <li class="list-group-item" onclick="openChunkFileWindow(false)" id="picker">分片上传计时</li>
                            <li class="list-group-item" onclick="openFileWindow(true)">简单上传Excel</li>
                            <li class="list-group-item" onclick="openChunkFileWindow(true)">分片上传Excel</li>
                            <li class="list-group-item" onclick="downloadExcel()">下载Excel</li>
                        </ul>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <h2 id="title">等待上传</h2>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <div class="progress">
                                    <div id="progressScroll" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                </div>
                            </div>
                            <div class="col-3">
                                <span style="font-size: 1.3em;" id="progressScrollText">100%</span>
                            </div>
                        </div>
                        <div class="col-12 mt-3"    style="height: 50vh;overflow-y: scroll;overflow-x: hidden;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" data="index">#</th>
                                        <th scope="col" data="id">id</th>
                                        <th scope="col" data="money">money</th>
                                        <th scope="col" data="username">username</th>
                                        <th scope="col" data="collect">collect</th>
                                        <th scope="col" data="email">email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
<script type="text/javascript">

    let socket, flag = false;

    var startDate;
    // HOOK 这个必须要再uploader实例化前面
    WebUploader.Uploader.register({
        // 在文件发送之前执行
        'before-send-file': 'beforeSendFile',
        // 在文件分片（如果没有启用分片，整个文件被当成一个分片）后，上传之前执行
        'before-send': 'beforeSend',
        // 在文件所有分片都上传完后，且服务端没有错误返回后执行
        "after-send-file": "afterSendFile"
    }, {
        beforeSendFile: function (file) {
            startDate = new Date();
            console.log("开始上传时间" + startDate)
            console.log("beforeSendFile");
            // Deferred对象在钩子回掉函数中经常要用到，用来处理需要等待的异步操作。
            var deferred = WebUploader.Deferred();
            //1、计算文件的唯一标记MD5，用于断点续传
            uploader.md5File(file, 0, 3 * 1024 * 1024).progress(function (percentage) {
                // 上传进度
                console.log('上传进度:', percentage);
                getProgressBar(file, percentage, "MD5", "MD5");
            }).then(function (val) { // 完成
                console.log('File MD5 Result:', val);
                file.md5 = val;
                file.uid = WebUploader.Base.guid();
                // 判断文件是否上传过，是否存在分片，断点续传
                $.ajax({
                    type: "POST",
                    url: "bigfile/check",
                    async: false,
                    data: {
                        fileMd5: val
                    },
                    success: function (data) {
                        var resultCode = data.resultCode;
                        // 秒传
                        if(resultCode == -1){
                            // 文件已经上传过,忽略上传过程，直接标识上传成功；
                            uploader.skipFile(file);
                            file.pass = true;
                        }else{
                            //文件没有上传过，下标为0
                            //文件上传中断过，返回当前已经上传到的下标
                            file.indexcode = resultCode;
                        }
                    }, error: function () {

                    }
                });
                //获取文件信息后进入下一步
                deferred.resolve();
            });
            return deferred.promise();
        },
        beforeSend: function (block) {
            //获取已经上传过的下标
            var indexchunk = block.file.indexcode;
            var deferred = WebUploader.Deferred();
            if (indexchunk > 0) {
                if (block.chunk > indexchunk) {
                    //分块不存在，重新发送该分块内容
                    deferred.resolve();
                } else {
                    //分块存在，跳过
                    deferred.reject();
                }
            } else {
                //分块不存在，重新发送该分块内容
                deferred.resolve();
            }
            //返回Deferred的Promise对象。
            return deferred.promise();
        }
        , afterSendFile: function (file) {
            //如果所有分块上传成功，则通知后台合并分块
            var url = ''
            if(flag){
                console.log('合并 Excel')
                url = 'bigfile/mergeExcel'
            }else{
                console.log('上传计时')
                url = 'bigfile/merge'
            }

            if(socket==null){
                openSocket()
            }
            $.ajax({
                type: "POST",
                url: url,
                data: {
                    fileName: file.name,
                    fileMd5: file.md5
                },
                success: function (res) {
                    console.log(res)
                    var endDate = new Date();
                    if(res.success){
                        $("#title").text("文件上传耗时:" + (endDate - startDate) / 1000 + "s")
                    }else{
                        $("#title").text("上传文件失败耗时:" + (endDate - startDate) / 1000 + "s")
                    }
                    getProgressBar(null, 1, null,null)
                }, error: function () {
                    var endDate = new Date();
                    $("#title").text("上传文件失败耗时:" + (endDate - startDate) / 1000 + "s")
                }
            });
        }
    });

    // 实例化
    var uploader = WebUploader.create({
        // pick: {
        //     id: '#picker',
        //     innerHTML: '分片上传'
        // },
        duplicate: true,//去重， 根据文件名字、文件大小和最后修改时间来生成hash Key
        swf: 'js/Uploader.swf',
        chunked: true,
        chunkSize: 10 * 1024 * 1024, // 10M 每个分片的大小限制
        threads: 3,
        server: 'bigfile/upload',
        auto: true,
        // 禁掉全局的拖拽功能。这样不会出现图片拖进页面的时候，把图片打开。
        disableGlobalDnd: true,
        fileNumLimit: 1024,
        fileSizeLimit: 50 * 1024 * 1024 * 1024,//50G 验证文件总大小是否超出限制, 超出则不允许加入队列
        fileSingleSizeLimit: 10 * 1024 * 1024 * 1024 //10G 验证单个文件大小是否超出限制, 超出则不允许加入队列
    });

    // 当有文件被添加进队列的时候
    uploader.on('fileQueued', function (file) {
        console.log(file)
        $("title").text('等待上传...')
        getProgressBar(file, 0, "FILE", "上传进度");
        // $("#stopBtn").click(function () {
        //     uploader.stop(true);
        // });
        // $("#restart").click(function () {
        //     uploader.upload(file);
        // });
    });

    //当某个文件的分块在发送前触发，主要用来询问是否要添加附带参数，大文件在开起分片上传的前提下此事件可能会触发多次。
    uploader.onUploadBeforeSend = function (obj, data) {
        //console.log("onUploadBeforeSend");
        var file = obj.file;
        data.md5 = file.md5 || '';
        data.uid = file.uid;
    };
    // 上传中
    uploader.on('uploadProgress', function (file, percentage) {
        getProgressBar(file, percentage, "FILE", "上传进度");
    });
    // 上传返回结果
    uploader.on('uploadSuccess', function (file) {
        var endDate = new Date();
        console.log("文件上传耗时:" + (endDate - startDate) / 1000 + "s",file)
        text = "文件上传耗时:" + (endDate - startDate) / 1000 + "s"
        if (file.pass) {
            // text = "文件已上传。"
        }
        getProgressBar(file, 1, "FILE", "上传进度");
        $('#title').text(text);
    });
    uploader.on('uploadError', function (file) {
        $('#title').text('上传出错');
    });
    uploader.on('uploadComplete', function (file) {
        // $('#title').text('上传完成');
        // 隐藏进度条
        // fadeOutProgress(file, 'MD5');
        // fadeOutProgress(file, 'FILE');
    });
    // 文件上传
    // $("#picker").on('click', function () {
    //     uploader.upload();
    // });


    function openChunkFileWindow(tag) {
        flag = tag;
        while($("#uploadFile").length>0) $("#uploadFile").remove()
        var files = $("<input type='file' id='uploadFile' class='d-none'/>")
        $("body").append(files)
        files.on('change', function (){
            uploadChunkWindow()
        })
        files.click()
    }

    function uploadChunkWindow() {
        var files = $("#uploadFile")[0].files
        if(files.length <=0 ){
            return alert('请选择文件后再上传！')
        }
        uploader.addFiles(files[0])
        uploader.upload();
    }

    /**
     *  生成进度条封装方法
     * @param file 文件
     * @param percentage 进度值
     * @param id_Prefix id前缀
     * @param titleName 标题名
     */
    function getProgressBar(file, percentage, id_Prefix, titleName) {
        // console.log(file, percentage, id_Prefix, titleName)
        var $percent = $("#progressScroll")
        var progressPercentage = parseInt(percentage * 100) + '%';
        $percent.css('width', progressPercentage);
        $("#progressScrollText").text(progressPercentage)
    }


    /**
     * 隐藏进度条
     * @param file 文件对象
     * @param id_Prefix id前缀
     */
    function fadeOutProgress(file, id_Prefix) {
        console.log(file, id_Prefix)
        // $('#' + file.id).find('#' + id_Prefix + '-progress').fadeOut();
    }

    function openFileWindow(tag) {
        flag = tag
        while($("#uploadFile").length>0) $("#uploadFile").remove()
        var files = $("<input type='file' id='uploadFile' class='d-none'/>")
        $("body").append(files)
        files.on('change', function (){
            uploadFileFunc()
        })
        files.click()
    }

    function uploadFileFunc() {
        var files = $("#uploadFile")[0].files
        if(files.length <=0 ){
            return alert('请选择文件后再上传！')
        }
        $("#title").text('等待上传...')
        // console.log(files)
        // 使用jQuery发起上传文件请求
        if(socket==null){
            openSocket()
        }
        startDate = new Date()
        getProgressBar(null, 0, null, null)
        var fd = new FormData()
        fd.append('file',files[0])

        var url = ''
        if(flag){
            console.log('合并 Excel')
            url = 'bigfile/uploadExcel'
        }else{
            console.log('上传计时')
            url = 'bigfile/uploadAll'
        }
        $.ajax({
            type:'post',
            url:url,
            data:fd,
            processData:false,
            contentType:false,
            success:function(res){
                console.log(res)
                var endDate = new Date();
                if(res.success){
                    $("#title").text("文件上传耗时:" + (endDate - startDate) / 1000 + "s")
                }else{
                    $("#title").text("上传文件失败耗时:" + (endDate - startDate) / 1000 + "s")
                }
                getProgressBar(null, 1, null,null)
            },
            error: function (res) {
                var endDate = new Date();
                $("#title").text("上传文件失败耗时:" + (endDate - startDate) / 1000 + "s")
            }
        })
    }

    function openSocket() {

        const socketUrl = "ws://localhost:18080/api/msg/fishhead"
        console.log(socketUrl);
        if(socket!=null){
            socket.close();
            socket=null;
        }
        socket = new WebSocket(socketUrl);
        //打开事件
        socket.onopen = function() {
            console.log("websocket已打开");
        };
        //获得消息事件
        socket.onmessage = function(msg) {
            console.log(msg.data);
            //发现消息进入,开始处理前端触发逻辑
            var res = JSON.parse(msg.data)
            if(res.success){
                if(res.msg=='read'){
                    var endDate = new Date();
                    if(res.success){
                        $("#title").text("请求上传耗时:" + (endDate - startDate) / 1000 + "s")
                    }else{
                        $("#title").text("上传文件失败耗时:" + (endDate - startDate) / 1000 + "s")
                    }
                }else if(res.msg == 'process'){
                    $("#title").text("正在写入");
                }
                getProgressBar(null, res.data, null, null)
            }else{
                $("#title").text(res.msg);
                var dataCol = []
                $("tr > th").each((index, item)=>{dataCol.push($(item).attr('data'))})
                var datalist = res.data
                $("tbody").empty()
                for (let datum in datalist) {
                    var _tr = $("<tr></tr>")
                    for (const col of dataCol) {
                        if(col==='index'){
                            _tr.append($("<td></td>").append(datum).attr("scope","row"))
                        }else
                            _tr.append($("<td></td>").append(datalist[datum][col]))
                    }
                    _tr.appendTo("tbody")
                }
            }
        };
        //关闭事件
        socket.onclose = function() {
            console.log("websocket已关闭");
            socket=null
        };
        //发生了错误事件
        socket.onerror = function() {
            console.log("websocket发生了错误");
            socket=null
        }
    }

    // 下载Excel文件
    function downloadExcel() {
        var xhr = new XMLHttpRequest();
        var url = '/api/user/download'
        xhr.open("GET", url);
        xhr.responseType = "blob";
        xhr.onload = function() {
            xhr.response.text().then((res)=>{
                try{
                    var resJson = $.parseJSON(res);
                    alert(resJson.message)
                }catch (e) {
                    let a = document.createElement("a");
                    let objectUrl = URL.createObjectURL(xhr.response);
                    a.setAttribute("href", objectUrl);
                    a.setAttribute("download", "user.xlsx");
                    a.click();
                }

            })
        };
        xhr.onerror = function() {
            console.error("could not download file");
        };
        xhr.send();
    }
</script>
</html>